In [1]:
import pandas as pd

In [2]:
uri ='https://labterminologie.nl/art-decor/lab-units'
html = pd.read_html(uri)
transaction = html[1] # First table is overhead
transaction.head()

    0   1
0 NaN NaN
1 NaN NaN
2 NaN NaN
3 NaN NaN

In [3]:
html[5][20:40]

,0,1,2,3,4,5
20,NaN,NaN,NaN,/[HPF],per high power field,per gezichtsveld (400x)
21,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,/[IU],per international unit,per internationale eenheid
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,/[LPF],per low power field (100x),per gezichtsveld (100x)
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,/g{creat},per gram of creatinine,per gram creatinine
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,/g{Hb},per gram of hemoglobin,per gram hemoglobine
29,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,/g{tot'nit},per gram of total nitrogen,per gram totaal stikstof
31,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,/g{tot'prot},per gram of total protein,per gram totaal eiwit
33,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,/g{wet'tis},per gram of wet tissue,per gram nat weefsel
35,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,/kg,per kilogram,per kilogram
37,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,/kg{body'wt},per kilogram body weight,per kilogram lichaamsgewicht
39,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = html[5]

In [5]:
df2 = df[df[4].notna()][[3, 4, 5]]

In [6]:
df2.columns = ['ucum', 'en', 'nl']

In [7]:
df2

,ucum,en,nl
0,Eenheden,Eenheden,Eenheden
1,Eenheden,Naam,Naam
12,{Z-score},{Z-score},Z-score
14,%,percent,procent
16,%{CDT_IFCC},Percent CDT(IFCC standardised),Percentage CDT(IFCC gestandardiseerd)
...,...,...,...
362,{mm/dd/yyyy},datum (dd-mm-jjjj),datum (dd-mm-jjjj)
364,{molaire ratio},{molar ratio},molaire ratio
366,{OD'unit},Optical density units,verschil in optische dichtheid
368,{ratio},{ratio},ratio
370,{titer},titer,titer

In [8]:
df2.to_csv('ucum.csv')